<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjlkSMrKK56KJh26dJMOPaev-I9l4F40I</string>
	<key>GCM_SENDER_ID</key>
	<string>14593683511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riseandimpactlms.app</string>
	<key>PROJECT_ID</key>
	<string>rodneylms</string>
	<key>STORAGE_BUCKET</key>
	<string>rodneylms.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14593683511:ios:ea8c2a60f54215d4978fb2</string>
</dict>
</plist>